<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>SKS Übung Briebauer/Schierl</display-name>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <security-role>
        <role-name>MSWrite</role-name>
    </security-role>
    <security-role>
        <role-name>MSRead</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SKS Übung Briebauer/Schierl</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method-omission>OPTIONS,GET</http-method-omission>
        </web-resource-collection>
        <auth-constraint>
            <role-name>MSRead</role-name>
            <role-name>MSWrite</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SKS Übung Briebauer/Schierl</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method-omission>PUT,POST,DELETE</http-method-omission>
        </web-resource-collection>
        <auth-constraint>
            <role-name>MSWrite</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>